<h1>Creacion de Usario</h1>
<p>Se ha creado una nueva cuenta de usuario con esta cuenta de correo y esta constraseña <%=@pass%>, y este role <%= @role %></p>
<p>Por favor dirigisa al siguiente link y cambia la contraseña <%= edit_user_password_url %></p>
