<h1>Creacion de Admnistrador</h1>
<p>Se ha creado una nueva cuenta de adminsitrador con esta cuenta de correo y esta constraseña <%=@pass%></p>
<p>Por favor dirigisa al siguiente link y cambia la contraseña <%= edit_admin_registration_url %></p>
