<%= stylesheet_link_tag 'statics', media: 'all', type:"text/css" %>

<section class="main">
	<div class="home_info">
		<div class="logo">
			<%= image_tag "logo_isa.png", :class => "logo img-responsive" %>
		</div>
		<div class="login_access">
			<div class="access">
				<%= link_to 'Log in admin', new_admin_session_path, :class => "link" %>
			</div>
			<div class="access">
				<%= link_to 'Log in user', new_user_session_path, :class => "link" %>
			</div>
		</div>
	</div>
</section>
