<h1>Aqui se van a mostrar las peticiones del usario, igulamente puede ser consultadas por el usuario</h1>
<% if current_admin %>
  <%= link_to t("admins.log_out"), destroy_admin_session_path %>
<% else %>
  <%= link_to t("admins.log_out"), destroy_user_session_path %>
<% end %>
