/*Importamos Fuentes, Mixins y Variables*/
@import "fonts";
@import "mixin";
@import "variables";

body{
	color: #333;
	margin: 0;
	padding: 10px;
}

.main{
	position: relative;
	text-align: center;
	.login, .registration{
		display: inline-block;
		padding: 100px 0;
		position: relative;
		width: 20%;
		.logo{
			display: inline-block;
			position: relative;
			width: 140px;
		}
		.title{
			color: #333;
			font-family: $font-LatoB;
		}
		.new_user{
			margin-bottom: 20px;
			.field{
				display: block;
				margin: 15px 0 0;
				position: relative;
				text-align: center;
				input{
					display: inline-block;
					font-family: $font-Lato;
					font-size: 15px;
					padding: 3px 10px;
					width: 100%;
				}
			}
			.remember{
				display: inline-block;
				margin: 20px 0 0;
				text-align: left;
				width: 48%;
				input{
					width: auto;
				}
				label{
					font-family: $font-Lato;
					font-size: 14px;
				}
			}
			.actions{
				display: inline-block;
				margin: 15px 0 0;
				width: 50%;
				input{
					cursor: pointer;
					background-color: #5cb85c;
					border: none;
					border-radius: 3px;
					color: #fff;
					display: inline-block;
					font-family: $font-Lato;
					font-size: 15px;
					padding: 10px 25px;
					width: 100%;
					@include transition(all 0.2s ease-in-out);
					&:hover, &:focus, &:active{
						background-color: #4c954c;
						outline: none;
						text-decoration: none;
					}
				}
			}
		}
		a{
			font-family: $font-Lato;
			font-size: 14px;
		}
	}
	.registration{
		display: inline-block;
		left: unset;
		padding: 40px 0;
		position: relative;
		right: unset;
		top: unset;
		width: 50%;
		.new_user{
			.form-group{
				margin: 0 0 15px;
				.field{
					padding: 0 7.5px;
					input{
						display: block;
						position: relative;
						width: 100%;
					}
				}
				.image{
					label{
						float: left;
						text-align: left;
						width: 15%;
					}
					input{
						display: inline-block;
						float: left;
						width: 85%;
					}
				}
			}
			.field{
				padding: 0 7.5px;
				input{
					width: 100%;
				}
			}
			.bottom{
				margin-bottom: 5px;
				.field{
					label{
						margin: 0;
						padding: 10px 2px 0;
					}
					input{
						padding: 10px 10px 0;
					}
				}
			}
			.normal{
				.field{
					input{
						padding: 3px 10px;
					}
				}
			}
		}
	}
}

.home_users{
	padding: 80px 0;
	text-align: center;
	.logo{
		display: inline-block;
		position: relative;
		width: 140px;
	}
	.title{
		color: #333;
		font-family: $font-LatoB;
		margin-bottom: 25px;
	}
	.content_info{
		display: inline-block;
		margin: 0 auto;
		position: relative;
		text-align: center;
		width: 80%;
		.data{
			background-color: #d1d1d1;
			font-family: $font-LatoS;
			font-size: 17px;
			margin: 0;
			.user_data{
				padding: 10px 25px;
				text-align: center;
			}
		}
		.show_users{
			margin: 0 0 20px;
			border: 1px solid #d1d1d1;
			border-top: none;
			div{
				.info, .link{
					display: block;
					margin: 0;
					padding: 8px 15px;
					text-transform: capitalize;
				}
			}
			.user_username{
				.info{
					text-transform: inherit;
				}
			}
			.show_user{
				.link{
					font-size: 15px;
				}
			}
			.remove_user{
				.link{
					font-size: 15px;
					i{
						color:  #ed2f2f;
						&:hover, &:active, &:focus{
							color: #bf3e3e;
						}
					}
				}
			}
		}
		.create_user{
			background-color: #5cb85c;
			border-radius: 3px;
			color: #fff;
			display: inline-block;
			float: right;
			font-family: $font-Lato;
			font-size: 15px;
			margin-top: 5px;
			padding: 10px 35px;
			@include transition(all 0.2s ease-in-out);
			i{
				margin-right: 5px;
			}
			&:hover, &:focus, &:active{
				background-color: #4c954c;
				outline: none;
				text-decoration: none;
			}
		}
	}
}